<a href="https://colab.research.google.com/github/giavonnadonati/Data_Science/blob/main/Giavonna_Donati_Stats_2023_Lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stats Notebook Lab #3

### Loops

In [ ]:
for i in range(100):
    print(i)
  # prints range of all integers below 100,starting with 0

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
for i in range(5,8):
    print(i)
  #gives range starting with 5, everything below 8

5
6
7

In [ ]:
for i in range(3):
    print( "Test Number: " , i )
  #gives range with Test Number: everything below 3, starting with 0

Test Number:  0
Test Number:  1
Test Number:  2

### Functions

In [ ]:
def square(x):
    return x**2
  #defines square(x) as x to the second power

In [ ]:
square(5)
#5^2

25

In [ ]:

square(square(2))
#(2^2)^2

16

In [ ]:
square(square(square(2)))
#((2^2)^2)^2

256

In [ ]:
square(123456)
#123456^2

15241383936

In [ ]:
square(square(5))
#(5^2)^2

625

In [ ]:
def add_two(x):
    return x+2
#defines add_two(x) as 2+x

In [ ]:
add_two(5)

7

In [ ]:
square(add_two(5))

49

### Logical Branching

In [ ]:
choice = "apple"
#defining apple as choice

In [ ]:
if choice == "apple":

    print("You choose apples.")

else:
    
    print("You did not choose apples.")
  #gives conditional for choices, choice is apples, so you choose apples as output

You choose apples.

In [ ]:
choice = "orange"

In [ ]:
if choice == "apple":

    print("You choose apples.")

else:
    
    print("You did not choose apples.")
      #gives conditional for choices, choice is oranges as run previously, so you did not choose apples as output

You did not choose apples.

In [ ]:
choice = "apple"

In [ ]:
if choice == "apple":

    print("You choose apples.")
    print("Thank you, shop again!")
    print(2**123)

elif choice == "orange":

    print("You choose oranges.")
    print("Thank you, shop again!")

else:
    
    print("You did not choose apples or oranges.")
    print("Thank you, shop again!")
  #gives conditional for choices, choice is apples, so you choose apples, thank you, shop again, and 2^123 as output

You choose apples.
Thank you, shop again!
10633823966279326983230456482242756608

### User Input

In [ ]:
choice = input("Please enter your choice (i.e. apple): ")
#gives choice as the input entered into Please enter your choice (i.e. apple):

In [ ]:
choice

In [ ]:
if choice == "apple":

    print("You choose apples.")

elif choice == "oranges":

    print("You choose oranges.")

else:
    
    print("You did not choose apples or oranges.")
  #gives conditional and relative outputs for input/choice

#### Coins

In [ ]:
np.random.random()

In [ ]:
np.random.random() > 0.5

In [ ]:
def flip_coin():
    if np.random.random() > 0.5:
        print("Heads")
    else:
        print("Tails")
      #gives conditional for flip_coin, if random number is above .5, then heads is output, if below, then tails

In [ ]:
flip_coin()

### Graphics Output

In [ ]:
from IPython.core.display import display, HTML
#imports display HTML

In [ ]:
display(HTML('<h1>Hello, world!</h1>'))
#displays hello, world

In [ ]:
def coin():
  return np.random.randint(2)
#defines coin as random sampling up to 2

In [ ]:
coin()

In [ ]:
display(HTML('<img src="https://random-ize.com/coin-flip/us-quarter/us-quarter-front.jpg">'))
#displays image

In [ ]:
heads = 'https://random-ize.com/coin-flip/us-quarter/us-quarter-front.jpg'
tails = 'https://random-ize.com/coin-flip/us-quarter/us-quarter-back.jpg'
#defines heads and tails as a link

In [ ]:
def show_img(img):
  display(HTML('<img src=' + img + '>'))
  #defines show_img(img) as html display

In [ ]:
show_img(heads)
#displays heads image link

In [ ]:
show_img(tails)
#displays tails image link

In [ ]:
def flip_coin():

    if coin():
        show_img(heads)
    else:
        show_img(tails)
    #gives conditional for flip_coin run, shows heads image for coin() and else, tail image

In [ ]:
flip_coin()
#runs flip coin

In [ ]:
for i in range(5):
    flip_coin()
    #gives 5 random flips

In [ ]:
#@title Coin Flip

if coin():

  show_img(heads)

else:

  show_img(tails)
  #gives conditional for coin flip result

### Cards

In [ ]:
def shuffle(x):
    for i in range(len(x)-1,0,-1):
        j = np.random.randint(0,i+1)
        x[i],x[j] = x[j],x[i]
        # print(j,x)
    return x
  #deinfes shuffle for range and j as random sampling between 0 and i+1

In [ ]:
a = np.arange(52)
#gives a as a range below 52, starting with 0

In [ ]:
shuffle(a)
#shuffles numbers 0 through 51

In [ ]:
np.random.permutation(52)
#gives random permutation from 0 to 51

### Speed Test

In [ ]:
%%timeit
shuffle(a)

In [ ]:
%%timeit
np.random.permutation(52)

In [ ]:
import numpy as np
#imports softward

In [ ]:
np.random.permutation(52)

In [ ]:
cards = np.random.permutation(52)
#defines cards as assigned to random permutations 0 to 51

In [ ]:
cards

In [ ]:
cards[0]
#gives card assigned to 0

In [ ]:
cards[1]
##gives card assigned to 1

In [ ]:
cards[2]
#gives card assigned to 2

<img src='http://www.milefoot.com/math/discrete/counting/images/cards.png'>

In [ ]:
np.arange(52).reshape(4,13)
#gives random range up to 52, reshapes range into 4 suits 13 numbeers

In [ ]:
np.arange(52).reshape(4,13)%13

In [ ]:
np.arange(52).reshape(4,13)//13

In [ ]:
suits = ['Clubs','Spades','Hearts','Diamonds']
names = ['Ace','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten','Jack','Queen','King']
#defines suits and names

In [ ]:
def card_name(card_number):
    
    suit = card_number//13
    name = card_number%13

    return names[name] + " of " + suits[suit]
    #gives suit as floor divison of card_number, and name as remainder of card_number

In [ ]:
card_name(0)

In [ ]:
card_name(51)

In [ ]:
cards = np.random.permutation(52)

In [ ]:
top_of_deck         = card_name(cards[0])
second_card_in_deck = card_name(cards[1])
last_card_in_deck   = card_name(cards[-1])
#defines top, second and last card of deck as relative position in deck

In [ ]:
top_of_deck, second_card_in_deck, last_card_in_deck

In [ ]:
for i in range(5):
    print(card_name(cards[i]))
    #gives card_name for first 5 cards in deck

In [ ]:
for i in range(15):
    print(card_name(cards[i]))
    #gives card_name for first 15 cards in deck

https://www.improvemagic.com/all-playing-cards-names-with-pictures/

In [ ]:
card_url_head = "https://www.improvemagic.com/wp-content/uploads/2020/11/"
card_url_tail = ".png"
#gives url for head and tail card

In [ ]:
suit = ['k','p','s','l']
card = ['a','2','3','4','5','6','7','8','9','10','j','q','k']
#assigns suit names and card names

In [ ]:
i = np.random.randint(4)
j = np.random.randint(13)
#gives suit as random number up to 4, and card as random number up to 13

In [ ]:
i,j

In [ ]:
suit[i]

In [ ]:
card[j]

In [ ]:
from IPython.core.display import display, HTML
#imports software

In [ ]:
def show_img(img):
  display(HTML('<img src=' + img + '>'))
  #defines show_img

In [ ]:
img = card_url_head + suit[i] + card[j] + card_url_tail
#defines img to combine urls, suit and card

In [ ]:
show_img(img)

In [ ]:
def card_image(card_number):
    
    i = card_number//13
    j = card_number%13

    return suit[i]+card[j]
    #defines card_image(card_number) as i for floor division, and j for remainder, returns as suit and card for card_image

In [ ]:
card_image(3)

In [ ]:
img = card_url_head + card_image(3) + card_url_tail
#displays card head and tail for 4th card

In [ ]:
show_img(img)

In [ ]:
for i in range(52):
    img = card_url_head + card_image(i) + card_url_tail
    show_img(img)
  #for range 0 to 51, shows image as respective urls+card image(i)